@import '../variables.scss';

.wrapper {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    width: 80%;
    border: 2px solid black;
    min-height: 80vh;
    @include background-gradient;
    animation: appear 0.3s linear;
}

.overlay {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1b1b1bdc;
    animation: appear 0.3s linear;
}



@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}