@import './variables.scss';

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background-image: url("./images/javier-santos-guzman-9MR78HGoflw-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(30%);
    z-index: -1;
  }

  .button {
    margin: 20px auto;
    width: 160px;
    height: 40px;
    font-size: 18px;
    background-color: $primary-color;
    border: none;
    color: white;
    border-radius: 15px;
  }
}





@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}